
form{
    background-color: #B1DDEA;
    display: flex;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
    height: 50vh;
    justify-content: space-between;
    Border-radius: 5px;
    width: 50%;
    
    
}

input{
    height: 30px;
}

input,textarea, label{
    margin-top: 7px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    width: 90%;
}

button{
    margin: 30px;
    border-radius: 5px;
    background-color: white;
    height: 50px;
    width: 90%;
}

